<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    <h1>Iniciar Sesión</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" formControlName="username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Ingresar</ion-button>
    </form>
  </div>
</ion-content>