<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="create-event-content">
  <div class="create-event-container">
    <h1 class="create-event-title">Crear Nuevo Evento</h1>
    <p class="create-event-subtitle">Rellena el formulario a continuación para crear un nuevo evento.</p>

    <form (ngSubmit)="onSubmit()" [formGroup]="createEventForm" class="create-event-form">
      <div class="form-group">
        <ion-label>Imagen del Evento</ion-label>
        <ion-button expand="block" fill="outline" (click)="fileInput.click()">
          <ion-icon name="camera-outline" slot="start"></ion-icon>
          Subir Imagen
        </ion-button>
        <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
      </div>

      <div class="form-group">
        <ion-label>Nombre del Evento</ion-label>
        <ion-input formControlName="name" placeholder="Ingresa el nombre del evento"></ion-input>
      </div>

      <div class="form-group">
        <ion-label>Descripción</ion-label>
        <ion-textarea formControlName="description" rows="4" placeholder="Ingresa la descripción del evento"></ion-textarea>
      </div>

      <div class="form-group">
        <ion-label>Ubicación</ion-label>
        <ion-input formControlName="location" placeholder="Ingresa la ubicación del evento"></ion-input>
      </div>

      <ion-grid class="date-time-grid">
        <ion-row>
          <ion-col size="12" size-md="6">
            <div class="form-group">
              <ion-label>Fecha</ion-label>
              <ion-datetime displayFormat="MMM DD, YYYY" formControlName="date" placeholder="Selecciona la fecha"></ion-datetime>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6">
            <div class="form-group">
              <ion-label>Hora</ion-label>
              <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="time" placeholder="Selecciona la hora"></ion-datetime>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="form-group">
        <ion-label>Capacidad</ion-label>
        <ion-input type="number" formControlName="capacity" placeholder="Ingresa la capacidad del evento"></ion-input>
      </div>

      <ion-button expand="block" type="submit" class="submit-button">Crear Evento</ion-button>
    </form>
  </div>
</ion-content>
