<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/admin/list-event"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="edit-event-content">
  <div class="edit-event-container">
    <h1 class="edit-event-title">Editar Detalles del Evento</h1>
    <p class="edit-event-subtitle">Actualiza la información de tu evento a continuación.</p>

    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <ion-label>Imagen del Evento</ion-label>
        <div class="image-preview-container" *ngIf="eventForm.get('image')?.value && eventForm.get('image')?.value != '../../../../assets/defaultEvent.jpg'">
          <img [src]="eventForm.get('image')?.value" alt="Vista Previa de Imagen del Evento" />
        </div>
      
        <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
        <ion-button expand="block" fill="outline" (click)="triggerFileInput()">
          <ion-icon name="camera-outline" slot="start"></ion-icon>
          Nueva Imagen
        </ion-button>
      </div>   

      <div class="form-group">
        <ion-label>Nombre del Evento</ion-label>
        <ion-input formControlName="name" type="text" placeholder="Ingresa el nombre del evento"></ion-input>
      </div>

      <ion-grid class="date-time-grid">
        <ion-row>
          <ion-col size="12" size-md="6">
            <div class="form-group">
              <ion-label>Fecha</ion-label>
              <ion-datetime formControlName="date" display-format="MMM DD, YYYY HH:mm" placeholder="Selecciona la fecha"></ion-datetime>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6">
            <div class="form-group">
              <ion-label>Hora</ion-label>
              <ion-datetime formControlName="time" display-format="MMM DD, YYYY HH:mm" placeholder="Selecciona la hora"></ion-datetime>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="form-group">
        <ion-label>Descripción</ion-label>
        <ion-textarea formControlName="description" rows="4" placeholder="Ingresa la descripción del evento"></ion-textarea>
      </div>

      <div class="form-group">
        <ion-label>Ubicación</ion-label>
        <ion-input formControlName="location" type="text" placeholder="Ingresa la ubicación del evento"></ion-input>
      </div>

      <div class="form-group">
        <ion-label>Capacidad</ion-label>
        <ion-input formControlName="capacity" type="number" placeholder="Ingresa la capacidad del evento"></ion-input>
      </div>

      <div class="form-buttons">
        <ion-button expand="block" type="submit" [disabled]="!eventForm.valid">Actualizar Evento</ion-button>
        <ion-button expand="block" fill="outline" (click)="cancelEdit()">Cancelar</ion-button>
      </div>
    </form>
  </div>
</ion-content>
