<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/admin/list-event"></ion-back-button>
    </ion-buttons>
    <ion-title>Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="create-attendee-content">
  <div class="create-attendee-container">
    <h1 class="create-attendee-title">Crear Nuevo Participante</h1>
    <p class="create-attendee-subtitle">Rellena el formulario a continuación para añadir un nuevo participante.</p>

    <form (ngSubmit)="onSubmit()" [formGroup]="createAttendeeForm" class="create-attendee-form">
      <div class="form-group">
        <ion-label>Nombre Completo</ion-label>
        <ion-input type="text" formControlName="name" required placeholder="Ingresa el nombre completo"></ion-input>
      </div>
      <div class="form-group">
        <ion-label>Teléfono</ion-label>
        <ion-input type="tel" formControlName="phone" required placeholder="Ingresa el número de teléfono"></ion-input>
      </div>
      <div class="form-group">
        <ion-label>Email</ion-label>
        <ion-input type="email" formControlName="email" required placeholder="Ingresa el correo electrónico"></ion-input>
      </div>
      <ion-button expand="block" type="submit" class="submit-button">Añadir Participante</ion-button>
    </form>
  </div>
</ion-content>